@{
    ViewBag.Title = "Home Page";
}

<h1>Time Elapsed @ViewBag.WatchMilliseconds ms</h1>
<h3>IMPORTANT NOTE: Most production applications will not show such obvious benefits to using asynchronous action methods.</h3>